<div class="row">
  <div class="col col-12">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Datos de la Rutina
      </div>
      <div class="row">
        <div class="col col-1 fw-bold text-end">
          Descripción
        </div>
        <div class="col col-6">
          {{rutinaDetalle.descripcion}}
        </div>
        <div class="col col-1 fw-bold text-end">
          Duración Total
        </div>
        <div class="col col-4">
          {{rutinaDetalle.duracionMinutos}} minutos
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
