<app-encabezado></app-encabezado>
<div class="row">
  <div class="col col-12">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Rutinas <button type="button" class="btn btn-warning"  (click)="rutinaCrear()"><i class="bi bi-plus-circle"></i></button>
      </div>
      <table>
        <tbody>
          <tr *ngFor="let rutina of rutinas">
            <td>{{rutina.nombre}}</td>
            <td>
              <button type="button" class="btn btn-primary" ><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger" ><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
