<div class="row">
    <div class="col col-12">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Ejercicios de la rutina
            <button type="button" class="btn btn-warning"><i class="bi bi-plus-circle" (click)="agregarEjercicio()"></i></button>
          </h5>
          <!--Agregar ejercicio-->
          <div *ngIf="this.agregar">
              <div class="form-group mx-sm-3 mb-2 ejercicios-disponibles_dropdown">
                <label>Elige el ejercicio a agregar&nbsp;</label>
                <!--<button type="button" class="btn btn-warning" (click)="confirmarEjercicio(ejercicios-disponibles.value)">Guardar <i class="bi bi-check-circle"></i></button>-->
                <select #ejercicioDropdown (change)="confirmarEjercicio(ejercicioDropdown.value)" class="form-select">
                    <option>Selecciona un ejercicio</option>
                    <option *ngFor="let ejercicio of ejerciciosDisponibles" [ngValue]="ejercicio.id">
                      {{ ejercicio.nombre }}
                    </option>
              </select>
            </div>
          </div>
          <!--Tabla de ejercicios en la rutina-->
            <table>
              <tbody>
                <tr *ngFor="let ejercicio of rutinaDetalle.ejercicioRutina">
                  <td>{{ejercicio.nombre}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
